In [29]:
import pandas as pd
import folium
from geopy.geocoders import Nominatim
from IPython.display import IFrame
from geopy import distance

In [12]:
obras_completo = pd.read_csv("/Users/karmelealonsoaia/Desktop/ironhack_labs/PROYECTOS/project_final/data/data_clean/obras_completo.csv")
personajes_streamlit = pd.read_csv("/Users/karmelealonsoaia/Desktop/ironhack_labs/PROYECTOS/project_final/data/data_clean/data_streamlit/personajes_streamlit.csv")
objetos_streamlit = pd.read_csv("/Users/karmelealonsoaia/Desktop/ironhack_labs/PROYECTOS/project_final/data/data_clean/data_streamlit/objetos_streamlit.csv")
fauna_streamlit = pd.read_csv("/Users/karmelealonsoaia/Desktop/ironhack_labs/PROYECTOS/project_final/data/data_clean/data_streamlit/fauna_streamlit.csv")
flora_streamlit = pd.read_csv("/Users/karmelealonsoaia/Desktop/ironhack_labs/PROYECTOS/project_final/data/data_clean/data_streamlit/flora_streamlit.csv")
lugar_streamlit = pd.read_csv("/Users/karmelealonsoaia/Desktop/ironhack_labs/PROYECTOS/project_final/data/data_clean/data_streamlit/lugar_streamlit.csv")

In [13]:
from geopy.geocoders import Nominatim

In [14]:
# Inicializar el geocodificador de Nominatim con el nombre de tu aplicación como user_agent
geolocator = Nominatim(user_agent="ubicacion_obras")

In [16]:
lugar_streamlit.head()

       Lugar   Escuela    Año_rango   Año               Título
0   Alicante  Española  1801 - 2000  1856  "Palmeras de Elche"
1      Elche  Española  1801 - 2000  1856  "Palmeras de Elche"
2     España  Española  1801 - 2000  1856  "Palmeras de Elche"
3     España  Española  1801 - 2000  1867          "Las Navas"
4  Las Navas  Española  1801 - 2000  1867          "Las Navas"

In [17]:
# Crear una lista para almacenar las coordenadas
coordenadas_lista = []

In [18]:
# Recorrer la columna 'Lugar' y obtener las coordenadas
for lugar in lugar_streamlit['Lugar']:
    location = geolocator.geocode(lugar)
    if location:
        coordenadas_lista.append(location.point)
    else:
        coordenadas_lista.append(None)

# Asignar la lista como una nueva columna 'Coordenadas'
lugar_streamlit['Coordenadas'] = coordenadas_lista

In [27]:
lugar_streamlit.head(20)

,Lugar,Escuela,Año_rango,Año,Título,Coordenadas
0,Alicante,Española,1801 - 2000,1856,"""Palmeras de Elche""","38 20m 37.0914s N, 0 29m 17.4149s W"
1,Elche,Española,1801 - 2000,1856,"""Palmeras de Elche""","38 15m 55.1905s N, 0 41m 55.8208s W"
2,España,Española,1801 - 2000,1856,"""Palmeras de Elche""","39 19m 33.8466s N, 4 50m 16.7248s W"
3,España,Española,1801 - 2000,1867,"""Las Navas""","39 19m 33.8466s N, 4 50m 16.7248s W"
4,Las Navas,Española,1801 - 2000,1867,"""Las Navas""","12 20m 17.4415s N, 125 1m 51.7706s E"
5,Ávila,Española,1801 - 2000,1867,"""Las Navas""","40 39m 23.3208s N, 4 42m 0.78192s W"
6,El Escorial,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","40 35m 1.10796s N, 4 7m 41.3137s W"
7,España,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","39 19m 33.8466s N, 4 50m 16.7248s W"
8,Madrid,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","40 25m 0.13692s N, 3 42m 12.897s W"
9,El Escorial,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","40 35m 1.10796s N, 4 7m 41.3137s W"
10,España,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","39 19m 33.8466s N, 4 50m 16.7248s W"
11,Madrid,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","40 25m 0.13692s N, 3 42m 12.897s W"
12,El Escorial,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","40 35m 1.10796s N, 4 7m 41.3137s W"
13,España,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","39 19m 33.8466s N, 4 50m 16.7248s W"
14,Madrid,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","40 25m 0.13692s N, 3 42m 12.897s W"
15,El Escorial,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","40 35m 1.10796s N, 4 7m 41.3137s W"
16,España,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","39 19m 33.8466s N, 4 50m 16.7248s W"
17,Madrid,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","40 25m 0.13692s N, 3 42m 12.897s W"
18,El Escorial,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","40 35m 1.10796s N, 4 7m 41.3137s W"
19,España,Española,1801 - 2000,1901,"""Cazador sentado a la orilla de una laguna""","39 19m 33.8466s N, 4 50m 16.7248s W"

In [35]:
# Filtrar las filas sin coordenadas
lugar_streamplit_con_coordenadas = lugar_streamlit.dropna(subset=['Coordenadas'])

In [ ]:
# Crear un mapa centrado en una ubicación inicial
lugar_streamlit = folium.Map(location=[lugar_streamlit['Latitud'].mean(), lugar_streamlit['Longitud'].mean()], zoom_start=5)

# Añadir marcadores al mapa
for index, row in df.iterrows():
    folium.Marker(location=[row['Latitud'], row['Longitud']], popup=row['Ubicacion']).add_to(mapa)

# Mostrar el mapa
mapa.save('mapa_obras_de_arte.html')